{% extends 'base.html' %}
{% block content %}

<h3>{{ request.user }}</h3>
Money:{{request.user.wallet}}
<br>
{% if messages %}
	{% for message in messages %}
		{{ message|safe }}
	{% endfor %}
{% endif %}
{% if request.user.is_authenticated %}
	{% if not request.user.is_superuser %}
		{% for pl in product_list %}
			<img width="200px" height="215px" src="/media/{{pl.photo}}">
			<br>{{ pl }} | 
			кол: {{ pl.quantity }} |
			цена:{{ pl.price }}
			<form method="post" action="{% url 'purchase_create' pl.pk %}">
				{% csrf_token %}
				{{forma}}
				<input type="hidden" name="product_pk" value="{{pl.pk}}">
				<input type="submit" value="Купить" >
			</form>
		{% endfor %}
	{% endif %}
{% endif %}

	

{% endblock %}